.userlist {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: inherit;
  color: aliceblue;
  margin: 100px 0;
  width: 100%;
}

.userlist__title {
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 80px;
  color: rgb(238, 197, 93)
}

.userlist__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.userlist__column-titles-list {
  display: grid;
  width: 100%; 
  grid-template-columns: repeat(4, 1fr);

}
.userlist__column-titles-list::after {
  content: '';
  grid-column-start: 1;
  grid-column-end: 5;
  border-bottom: #c5911b 1px solid;
}

.userlist__column-title {
  color: #fff;
  font-weight: 200;
}

.userlist__column-title:nth-child(1) {
  padding-left: 15px;
}

.uselist__id-container {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
}

.userlist__id-sort-btn_down {
  border-top: none;
  border-bottom: 20px solid #7cc3c0;
  width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
  background-color: transparent;
  outline: transparent;
  padding: 0;
  cursor: pointer;
  align-self: center;
  transition: all .2s linear;
}

.userlist__id-sort-btn_up {
  border-bottom: none;
  border-top: 20px solid #7cc3c0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
  background-color: transparent;
  outline: transparent;
  padding: 0;
  cursor: pointer;
  align-self: center;
  transition: all .2s linear;
}

.userlist__id-sort-btn_down:hover {
  border-bottom: 20px solid #3b8f8b;
  border-top: none;
  transform: scale(1.4);
}

.userlist__id-sort-btn_up:hover {
  transform: scale(1.4);
  border-bottom: none;
  border-top: 20px solid #3b8f8b;
}

.userlist__search-form {
  outline: none;
  border-radius: 20px;
  height: 50px;
  border: 1px transparent;
  padding-left: 25px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  transition: all .2s ease-in;
  background: linear-gradient( 80deg, #3b4587 0%, #5753C9 48%, #8166c1 100%);
  color: white;
  font-size: 20px;
}
.userlist__search-form:hover {
  filter: drop-shadow(0px 0px 1px #009dff88);
}

.userlist__search-form:focus {
  border: 1px #38b3ff;
  filter: drop-shadow(0px 0px 3px #38b3ff);
}

.userlist__search-form::placeholder {
  font-size: 20px;
  font-weight: 400;
  overflow: visible;
  transition: all .3s ease-in;
  opacity: .6;
  padding-left: 12px;
}

.userlist__search-form:focus::placeholder {
  opacity: 0;
}