.form {
  display: flex;
  flex-direction: column;
}


.form__input {
  background-color: transparent;
  border: transparent;
  outline: none;
  border-bottom: 2px #898989 solid;
  transition: all .4s ease;
  font-size: 20px;
  line-height: 30px;
  color: #ffffffc2;
}

.form__input:focus {
  border-bottom: 2px #24a709 solid;
}

.form__input_error:focus {
  border-bottom: 2px #ff7233 solid;
}

.form__input::placeholder {
  color: white;
  opacity: .4;
  transition: all .3s;
  padding-left: 2px;
  font-size: 14px;
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}


.form__error-span {
  color: #ff4343;
  min-height: 25px;
  margin: 5px 0 25px;
  opacity: 0;
  padding-left: 3px;
  font-size: 11px;
  transition: all .2s linear;
}

.form__error-span_visible {
  opacity: 1;
}

.form__submit-btn {
  border-radius: 10px;
  height: 50px;
  outline: none;
  border: 0;
  font-size: 20px;
  margin-top: 100px;
  background-color: #ffa73f;
  transition: all .15s ease-in;
  color: #780404;
  cursor: pointer;
}

.form__submit-btn_disabled {
  background-color: grey;
  border-radius: 10px;
  height: 50px;
  outline: none;
  border: 1px solid;
  font-size: 20px;
  margin-top: 100px;
  background-color: #5e5fd5;;
  color: grey;
  transition: all .15s ease-in;
}

.form__submit-btn:hover {
  filter: drop-shadow(0px 0px 4px #ffa73f);
  transform: scale(1.05);
}

.form__submit-btn:active {
  background-color: #ff8a00;
}


@media screen and (max-width: 500px) {
  .form__input {
    border-bottom: 1px #898989 solid;
    font-size: 15px;
    line-height: 20px;
  }
  
  .form__input:focus {
    border-bottom: 1px #24a709 solid;
  }
  
  .form__input_error:focus {
    border-bottom: 1px #ff7233 solid;
  }
  
  .form__input::placeholder {
    padding-left: 2px;
    font-size: 12px;
  }
  
  .form__input:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  
  .form__error-span {
    min-height: 25px;
    margin: 5px 0 20px;
    font-size: 11px;
    max-width: 265px;
  }
  
  .form__submit-btn {
    height: 40px;
    font-size:15px;
    margin-top: 70px;
  }
  
  .form__submit-btn_disabled {
    height: 40px;
    font-size: 15px;
    margin-top: 70px;

  }
  
}