.userlist__column-titles-list {
  display: grid;
  width: 100%; 
  grid-template-columns: 100px repeat(3, 1fr);
}

.userlist__column-titles-list::after {
  content: '';
  grid-column-start: 1;
  grid-column-end: 5;
  border-bottom: #c5911b 1px solid;
}

@media screen and (max-width: 860px) {
  .userlist__column-titles-list {
    grid-template-columns: 80px repeat(3, 1fr);
  }

}

@media screen and (max-width: 600px) {
  .userlist__column-titles-list {
    grid-template-columns: 60px repeat(3, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .userlist__column-titles-list {
    grid-template-columns: 55px repeat(3, 1fr);
  }
}
