.app__button {
  display: flex;
  padding: 0;
  width: 180px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: #2b3c97;
  color: goldenrod;
  transition: all .1s linear;
  cursor: pointer;
  text-decoration: none;
}

.app__button:hover {
  background-color: #263481;
}

.app__button:active {
  background-color: #1b2661;
}

@media screen and (max-width: 1279px) {
  .app__button {
    width: 140px;
    height: 30px;
  }
}

@media screen and (max-width: 860px) {
  .app__button {
    width: 110px;
    height: 25px;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .app__button {
    width: 90px;
    height: 30px;
  }
}