.userline {
  display: grid;
  width: 100%;
  grid-template-columns: 150px repeat(3, 1fr);
  margin-top: 15px;
  position: relative;
}

.userline:first-of-type {
  margin-top: 25px;
}

.userline:nth-of-type(1n) {
  background-color: #d3d3d31c;;
  border-radius: 25px 10px 10px 25px;
}

.userline__parametr {
  margin: 0;
  height: 48px;
  display: flex;
  align-items: center;
  color: #ede9e9; 
  font-weight: 300;
  cursor: pointer;
}

.userline__parametr:nth-child(1) {
  background-color: #0079cf;
  width: 48px;
  border-radius: 25px;
  justify-content: center;
  z-index: 2;
}

.userline__button-container {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
}

.userline__button {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 0px;
  background-color: #0079cf;;
  width: 48px;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  border: 0;
  z-index: -1;
  transition: all .2s ease-out;
  background-image: url(../../images/Pencil.svg);
  background-repeat: no-repeat;
  animation: shake infinite .7s linear;
}

.userline__button:hover {
  border-radius: 0px 25px 25px 0px;
  width: 120px;
  right: 50px;
  left: 25px
}

.userline__id-container {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 860px) {
  .userline {
    grid-template-columns: 100px repeat(3, 1fr);
  }
  
  .userline__button {
    width: 40px;
  }
  .userline__button:hover {
    width: 95px;
    left: 20px;
  }

  .userline:nth-of-type(1n) {
    border-radius: 25px 10px 10px 25px;
  }
  
  .userline__parametr {
    height: 40px;
    font-size: 14px;
  }
  
  .userline__parametr:nth-child(1) {
    width: 40px;
  }
}

@media screen and (max-width: 600px) {
  .userline {
    margin-top: 15px;
    grid-template-columns: 80px repeat(3, 1fr);
  }
  
  .userline__button {
    background-size: 35px;
    
  }

  .userline__button {
    width: 40px;
  }
  .userline__button:hover {
    width: 75px;
    right: 40px;
  }

  .userline:first-of-type {
    margin-top: 25px;
  }
}

@media screen and (max-width: 450px) {
  .userline {
    grid-template-columns: 55px repeat(3, 1fr);
  }

  .userline__button {
    width: 30px;
  }
  .userline__button:hover {
    width: 55px;
    left: 15px;
  }

  .userline__button {
    background-size: 30px;
  }

  .userline:nth-of-type(1n) {
    border-radius: 25px 10px 10px 25px;
  }
  
  .userline__parametr {
    height: 30px;
    font-size: 12px;
  }
  
  .userline__parametr:nth-child(1) {
    width: 30px;
  }
}

@keyframes shake {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}