.notification-popup_hidden {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 65px;
  width: 180px;
  height: 180px;
  background-color: #00000098;
  bottom: -10px;
  right: 25px;
  padding: 5px;
  box-sizing: border-box;
  color: #fff;
  overflow: hidden;
  transform: translateY(100%);
  transition: all .3s ease-out;
  z-index: 1;
}

.notification-popup_visible {
  bottom: 25px;
  right: 25px;
  transform: translateY(0);
}

.notification-popup__img_success {
  background-image: url(../../images/success.svg);
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 110px;
  height: 110px;
}

.notification-popup__img_error {
  background-image: url(../../images/error.svg);
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 90px;
  height: 90px;
}

.notification-popup__img_no-msg {
  margin: 35px auto auto;

}

.notification-popup__message {
  padding: 0 12px;
  margin: 5px 0 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}


@media screen and (max-width: 860px) {
  .notification-popup_hidden {
    width: 150px;
    height: 150px;
  }
  
  .notification-popup__img_success {
    width: 90px;
    height: 90px;
    margin-top: 20px;
  }
  
  .notification-popup__img_error {
    margin-top: 5px;
    width: 75px;
    height: 75px;
  }
  
  .notification-popup__img_no-msg {
    margin: 35px auto auto;
  }
  
  .notification-popup__message {
    font-size: 12px;
    line-height: 15px;
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .notification-popup_hidden {
    width: 120px;
    height: 120px;
    border-radius: 50px;
  }
  
  .notification-popup__img_success {
    width: 60px;
    height: 60px;
  }
  
  .notification-popup__img_error {
    margin-top: 8px;
    width: 45px;
    height: 45px;
  }
  
  .notification-popup__img_no-msg {
    margin: 25px auto auto;
  }
  
  .notification-popup__message {
    font-size: 10px;
    line-height: 15px;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .notification-popup_hidden {
    width: 80px;
    height: 80px;
    border-radius: 30px;
  }
  
  .notification-popup__img_success {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
  
  .notification-popup__img_error {
    margin-top: 4px;
    width: 65px;
    height: 65px;
    position: absolute;
    opacity: .6;
    z-index: -1;
  }
  
  .notification-popup__img_no-msg {
    margin: 20px auto auto;
  }
  
  .notification-popup__message {
    font-size: 10px;
    line-height: 11px;
    margin-top: 2px;
  }
  
}