.userline {
  display: grid;
  width: 100%;
  grid-template-columns: 100px repeat(3, 1fr);
  margin-top: 15px;
  position: relative;
}

.userline:first-of-type {
  margin-top: 25px;
}

.userline:nth-of-type(1n) {
  background-color: #d3d3d31c;;
  border-radius: 25px 10px 10px 25px;
}

@media screen and (max-width: 860px) {
  .userline {
    grid-template-columns: 80px repeat(3, 1fr);
  }
  
  .userline:nth-of-type(1n) {
    border-radius: 25px 10px 10px 25px;
  }
}

@media screen and (max-width: 600px) {
  .userline {
    margin-top: 15px;
    grid-template-columns: 60px repeat(3, 1fr);
  }

  .userline:first-of-type {
    margin-top: 25px;
  }
}

@media screen and (max-width: 450px) {
  .userline {
    grid-template-columns: 55px repeat(3, 1fr);
  }

  .userline:nth-of-type(1n) {
    border-radius: 25px 10px 10px 25px;
  }
}